.frameWeather {
  width: inherit;
  height: 120px;
  border-radius: 10px;
  border: 2px solid #a39341;
  margin: 7px 0;
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: repeat(1fr);
  align-items: center;
  justify-items: start;
  color: #ffffffbc;
  height: 100%;
  font-size: 14px;
  font-family: 'Montserrat';
}

.temp {
  justify-self: center;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  font-size: 32px;
}

.icon img {
  position: absolute;
  top: 0;
  left: 25px;
  width: 75px;
  height: 75px;
}

.dayNow {
  font-size: 24px;
}
