.frameWeather {
  width: 275px;
  height: 120px;
  border-radius: 10px;
  border: 2px solid #a39341;
  margin: 7px 0;
}

.info {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: end;
  color: #ffffffbc;
  height: 100%;
  padding: 0 10px;
  font-size: 14px;
  font-family: 'Montserrat';
}

.temp {
  justify-self: center;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  font-size: 32px;
}
