.navBar {
  display: flex;
  justify-content: space-between;
  width: 970px;
  height: 60px;
  margin: 0 auto;
  padding: 15px 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: 0;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  border: 2px solid #a39341;
}
.logo span {
  color: #0e6600;
}

.barBtns {
  display: flex;
  align-items: center;
}

.clientName {
  color: #fff;
  font-size: 20px;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 25px;
  cursor: pointer;
}

.btnLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #a39341;
  cursor: pointer;
}
