.toDoFrame {
  width: 640px;
  height: auto;
  padding: 0 10px;
}

.menuList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.topic {
  margin: 10px 20px;
  color: #fff;
  font-size: 24px;
}

.btnsBar {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 32px;
  margin: 0 5px;
  padding: 0;
  background-color: #00000000;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #a39341;
}

.listFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 590px;
  border-radius: 10px;
  border: 2px solid #a39341;
}

.listFrame p {
  font-size: 16px;
  color: #ffffff80;
}

.moreBar {
  display: flex;
  width: 590px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #a39341;
  cursor: pointer;
}
