@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Montserrat&display=swap');

body {
  background-color: #171717;
  width: auto;
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
